<div id="friends-lookup">
  <%= form_tag friend_search_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-8">
      <div class="col-md-10">
        <%= text_field_tag :searcy_param, params[:search_param],
                              placeholder: 'Search For Friends',
                              autofocus: true, class: 'form-control search-box input-lg' %>
      </div>

      <div class="col-md-2">
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class="glyphicon glyphicon-search"></i> Lookup Friend
        <% end %>
      </div>
      <%= render 'shared/spinner' %>
      <% if @users %>
        <% if @users.size > 0 %>
        <br>
          <div id="friend-lookup-results" class="well results-block col-md-10">
            <table class="search-results-table col-md-12">
              <tbody>
                <%= @users.each do |user| %>
                  <tr>
                    <td>
                      <strong>Name: </strong> <%= user.full_name %>
                    </td>
                    <td>
                      <strong>Email: </strong> <%= user.email %>
                    </td>
                    <td>
                      <strong>Profile: </strong> <%= link_to "View Profile", user_path(user),
                                                        class: "btn btn-xs btn-default" %>
                    </td>
                    <% if current_user.not_friends_with?(user.id) %>
                      <%= link_to "Add Friend", add_friend_path(user: current_user, friend: user),
                              class: "btn btn-xs btn-success", method: :post %>
                    <% else %>
                      <span class="label label-primary">Your Friend</span>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p class="lead col-md-12">
            No friends match the search.
          </p>
        <% end %>
      <% end %>

      <div id="friend-lookup-errors">

      </div>
    </div>
  <% end %>
</div>
