<div id="stock-lookup">
  <%= form_tag stock_search_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-8">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: 'Search a Stock Here',
                  autofocus: true, class: 'form-control search-box input-lg' %>
      </div>

      <div class="col-md-2">
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class="glyphicon glyphicon-search"></i> Lookup Stock
        <% end %>
      </div>
      <%= render 'shared/spinner' %>
      <% if @stock %>
      <br>
        <div id="stock-lookup-results" class="well results-block">
          <strong>Symbol: </strong> <%= @stock.ticker %>
          <strong>Company: </strong> <%= @stock.name %>
          <strong>Last Price: </strong> <%= @stock.last_price %>
          <%= link_to "Add to Portfolio", user_stocks_path(user: current_user, stock_ticker: @stock.ticker,
                                          stock_id: @stock.id ? @stock.id : ''), class:'btn btn-xs btn-success',
                                          method: :post %>
        </div>
      <% end %>

      <div id="stock-lookup-errors">

      </div>
    </div>
  <% end %>
</div>
